{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock title %}

{% block body %}
    <main role='main' class='container main'>
      <div>
        <h1>Let's Explore Data Analytics</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum sapien mauris...</p>
    </main>
{% endblock body %}
